#item-manage {
  width: 100%;
  height: 85vh;
  display: grid;
  grid-template-columns: 30% 69%;
  justify-content: space-between;
  align-items: flex-start;
}

#item-manage .form-container {
  padding: 10px 20px 15px 20px;
  border-radius: 10px;
  background-color: white;
  height: fit-content;
}

#item-table {
  width: 100%;
  border-collapse: collapse;
}

#item-table thead {
  border-radius: 10px 10px 0 0;
  position: sticky;
  top: 0;
  z-index: 10;
}

#item-table thead th,
td {
  height: 50px;
  padding: 12px 10px;
  border: none;
  border-bottom: 1px solid rgb(196, 195, 195);
  text-align: center;
}

#item-table thead th {
  background-color: #3572ef;
  color: white;
}
