@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  height: 100vh;
  overflow: hidden;
  background-color: rgb(235, 235, 235);
}

section {
  padding: 10px 20px;
}

h1 {
  font-size: 30px;
  margin-bottom: 30px;
}

/*CSS for header*/

header {
  background-color: blue;
  padding: 10px 20px;
  margin-bottom: 20px;
  position: sticky;
  top: 0;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav .section-name {
  font-size: 2rem;
  color: white;
}

header nav .navigation ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

header nav .navigation ul li,
.side-bar ul li {
  list-style: none;
  margin-right: 1px;
}

header nav .navigation ul li a {
  color: red;
  text-decoration: none;
  padding: 10px 12px;
  background-color: white;
  cursor: pointer;
}

header nav #menu,
#close {
  font-size: 1.5rem;
  color: white;
  cursor: pointer;
  display: none;
}

header nav .side-bar {
  width: 100%;
  padding: 10px 0;
  display: none;
}

header nav .side-bar ul {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

header nav .side-bar ul li {
  text-align: center;
}

header nav .side-bar ul li a {
  font-size: 1.2rem;
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.active {
  display: block !important;
}

/* CSS for input field */
.form-container .input-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  flex: 1;
}

.input-field input,
select {
  height: 5vh;
  border: 2px solid grey;
  border-radius: 10px;
  padding: 0 10px;
  outline: none;
  background-color: white;
  box-sizing: border-box;
}

/* CSS for buttons */
.form-container .button-container button {
  padding: 10px 12px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.blue-btn {
  background-color: blue;
}

.red-btn {
  background-color: red;
}

.yellow-btn {
  background-color: yellow;
  color: black !important;
}

.green-btn {
  background-color: green;
}

/* CSS for warning label */
.warning {
  color: red;
  display: none;
}

/* CSS for table container */
.table-container {
  width: 100%;
  height: 80vh;
  overflow-y: scroll;
}

.table-container::-webkit-scrollbar {
  display: none;
}

td {
  cursor: pointer;
}

/* Media query for header */
@media (max-width: 768px) {
  header nav .navigation {
    display: none;
  }

  header nav #menu {
    display: block;
  }
}
